.body {
  flex: 0.9;
  height: 100vh;
  color: white;
  padding: 30px;
  overflow-y: scroll;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

.body::-webkit-scrollbar{
  display: hidden;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body__info > img {
  height: 18vw;
  margin: 0 20px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
  flex: 1;
  margin-bottom: 20px;
}

.body__infoText > h2 {
  font-size: 90px;
  font-weight: 900;
  margin-bottom: 10px;
}

.body__infoText > p {
  font-size: 15px;
  opacity: 0.7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
}

.body_shuffle {
  font-size: 65px !important;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.body_shuffle:hover {
  transform: scale(1.08);
  transition: all 0.2s ease-in-out;
}

.favourite {
  font-size: 35px !important;
  margin-right: 20px;
}
.songs__icons {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
