.songRow{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    color: white;
    box-shadow: 0px 2px 95px rgba(0, 0, 0, .2);
}


.songRow:hover{
    cursor: pointer;
    opacity: .8;
    background-color: black;
}

.songRow_info{
    margin-left: 20px;
}

.songRow_info >h1{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.songRow_info >p{
    font-size: 14px;
    color: grey;
    margin-top: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.songRow_album{
    height: 40px;
    width: 40px;
}